In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
d=pd.read_csv('/content/drive/MyDrive/energydata_complete.csv')
d

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [3]:
d.shape

(19735, 29)

In [4]:
x1=d['Press_mm_hg']
x2=d['RH_1']
x3=d['RH_2']
x4=d['RH_3']
x5=d['RH_4']
x6=d['RH_5']
x7=d['RH_6']
x8=d['RH_7']
x9=d['RH_8']
x10=d['RH_9']
x11=d['RH_out']
x12=d['rv1']
x13=d['rv2']
x14=d['T1']
x15=d['T2']
x16=d['T3']
x17=d['T4']
x18=d['T5']
x19=d['T6']
x20=d['T7']
x21=d['T8']
x22=d['T9']
x23=d['T_out']
x24=d['Tdewpoint']
x25=d['Visibility']
x26=d['Windspeed']
y=d['Appliances']
size=x1.size
print(x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,y)

0        733.5
1        733.6
2        733.7
3        733.8
4        733.9
         ...
19730    755.2
19731    755.2
19732    755.2
19733    755.2
19734    755.2
Name: Press_mm_hg, Length: 19735, dtype: float64 0        47.596667
1        46.693333
2        46.300000
3        46.066667
4        46.333333
           ...
19730    46.560000
19731    46.500000
19732    46.596667
19733    46.990000
19734    46.600000
Name: RH_1, Length: 19735, dtype: float64 0        44.790000
1        44.722500
2        44.626667
3        44.590000
4        44.530000
           ...
19730    42.025714
19731    42.080000
19732    42.768571
19733    43.036000
19734    42.971429
Name: RH_2, Length: 19735, dtype: float64 0        44.730000
1        44.790000
2        44.933333
3        45.000000
4        45.000000
           ...
19730    41.163333
19731    41.223333
19732    41.690000
19733    41.290000
19734    41.156667
Name: RH_3, Length: 19735, dtype: float64 0        45.566667
1        45.992500
2        45.890000
3        45.723333
4        45.530000
           ...
19730    45.590000
19731    45.590000
19732    45.730000
19733    45.790000
19734    45.963333
Name: RH_4, Length: 19735, dtype: float64 0        55.200000
1        55.200000
2        55.090000
3        55.090000
4        55.090000
           ...
19730    52.400000
19731    52.326667
19732    52.266667
19733    52.200000
19734    52.200000
Name: RH_5, Length: 19735, dtype: float64 0        84.256667
1        84.063333
2        83.156667
3        83.423333
4        84.893333
           ...
19730     1.000000
19731     1.000000
19732     1.000000
19733     1.000000
19734     1.000000
Name: RH_6, Length: 19735, dtype: float64 0        41.626667
1        41.560000
2        41.433333
3        41.290000
4        41.230000
           ...
19730    44.500000
19731    44.414286
19732    44.400000
19733    44.295714
19734    44.054000
Name: RH_7, Length: 19735, dtype: float64 0        48.900000
1        48.863333
2        48.730000
3        48.590000
4        48.590000
           ...
19730    50.074000
19731    49.790000
19732    49.660000
19733    49.518750
19734    49.736000
Name: RH_8, Length: 19735, dtype: float64 0        45.5300
1        45.5600
2        45.5000
3        45.4000
4        45.4000
          ...
19730    46.7900
19731    46.7900
19732    46.7900
19733    46.8175
19734    46.8450
Name: RH_9, Length: 19735, dtype: float64 0        92.000000
1        92.000000
2        92.000000
3        92.000000
4        92.000000
           ...
19730    55.666667
19731    56.000000
19732    56.333333
19733    56.666667
19734    57.000000
Name: RH_out, Length: 19735, dtype: float64 0        13.275433
1        18.606195
2        28.642668
3        45.410389
4        10.084097
           ...
19730    43.096812
19731    49.282940
19732    29.199117
19733     6.322784
19734    34.118851
Name: rv1, Length: 19735, dtype: float64 0        13.275433
1        18.606195
2        28.642668
3        45.410389
4        10.084097
           ...
19730    43.096812
19731    49.282940
19732    29.199117
19733     6.322784
19734    34.118851
Name: rv2, Length: 19735, dtype: float64 0        19.890000
1        19.890000
2        19.890000
3        19.890000
4        19.890000
           ...
19730    25.566667
19731    25.500000
19732    25.500000
19733    25.500000
19734    25.500000
Name: T1, Length: 19735, dtype: float64 0        19.200000
1        19.200000
2        19.200000
3        19.200000
4        19.200000
           ...
19730    25.890000
19731    25.754000
19732    25.628571
19733    25.414000
19734    25.264286
Name: T2, Length: 19735, dtype: float64 0        19.790000
1        19.790000
2        19.790000
3        19.790000
4        19.790000
           ...
19730    27.200000
19731    27.133333
19732    27.050000
19733    26.890000
19734    26.823333
Name: T3, Length: 19735, dtype: float64 0        19.000000
1        19.000000
2        18.926667
3        18.890000
4        18.890000
           ...
19730    24.700000
19731    24.700000
19732    24.700000
19733    24.700000
19734    24.700000
Name: T4, Length: 19735, dtype: float64 0        17.166667
1        17.166667
2        17.166667
3        17.166667
4        17.200000
           ...
19730    23.200000
19731    23.230000
19732    23.230000
19733    23.200000
19734    23.200000
Name: T5, Length: 19735, dtype: float64 0         7.026667
1         6.833333
2         6.560000
3         6.433333
4         6.366667
           ...
19730    24.796667
19731    24.196667
19732    23.626667
19733    22.433333
19734    21.026667
Name: T6, Length: 19735, dtype: float64 0        17.200000
1        17.200000
2        17.200000
3        17.133333
4        17.200000
           ...
19730    24.500000
19731    24.557143
19732    24.540000
19733    24.500000
19734    24.500000
Name: T7, Length: 19735, dtype: float64 0        18.2000
1        18.2000
2        18.2000
3        18.1000
4        18.1000
          ...
19730    24.7000
19731    24.7000
19732    24.7000
19733    24.6625
19734    24.7360
Name: T8, Length: 19735, dtype: float64 0        17.033333
1        17.066667
2        17.000000
3        17.000000
4        17.000000
           ...
19730    23.200000
19731    23.200000
19732    23.200000
19733    23.200000
19734    23.200000
Name: T9, Length: 19735, dtype: float64 0         6.600000
1         6.483333
2         6.366667
3         6.250000
4         6.133333
           ...
19730    22.733333
19731    22.600000
19732    22.466667
19733    22.333333
19734    22.200000
Name: T_out, Length: 19735, dtype: float64 0         5.300000
1         5.200000
2         5.100000
3         5.000000
4         4.900000
           ...
19730    13.333333
19731    13.300000
19732    13.266667
19733    13.233333
19734    13.200000
Name: Tdewpoint, Length: 19735, dtype: float64 0        63.000000
1        59.166667
2        55.333333
3        51.500000
4        47.666667
           ...
19730    23.666667
19731    24.500000
19732    25.333333
19733    26.166667
19734    27.000000
Name: Visibility, Length: 19735, dtype: float64 0        7.000000
1        6.666667
2        6.333333
3        6.000000
4        5.666667
           ...
19730    3.333333
19731    3.500000
19732    3.666667
19733    3.833333
19734    4.000000
Name: Windspeed, Length: 19735, dtype: float64 0         60
1         60
2         50
3         50
4         60
        ...
19730    100
19731     90
19732    270
19733    420
19734    430
Name: Appliances, Length: 19735, dtype: int64

In [5]:
print(size)

19735

In [6]:
#Checking for N/A values
d.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [7]:
#correct Code
import numpy as np
e=[]
ee=[]
def linear(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15,m16,m17,m18,m19,m20,m21,m22,m23,m24,m25,m26,c):
  sum=0
  yp=[]
  for i in range(0,15000):
    yp.append(m1*x1[i]+m2*x2[i]+m3*x3[i]+m4*x4[i]+m5*x5[i]+m6*x6[i]+m7*x7[i]+m8*x8[i]+m9*x9[i]+m10*x10[i]+m11*x11[i]+m12*x12[i]+m13*x13[i]+m14*x14[i]+m15*x15[i]+m16*x16[i]+m17*x17[i]+m18*x18[i]+m19*x19[i]+m20*x20[i]+m21*x21[i]+m22*x22[i]+m23*x23[i]+m24*x24[i]+m25*x25[i]+m26*x26[i]+c)
    g=(y[i]-yp[i])**2
    sum=sum+g
  e.append(sum)
  ee.append(np.mod(sum,15000))
  print(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15,m16,m17,m18,m19,m20,m21,m22,m23,m24,m25,m26,c,np.mod(sum,15000))
  sum=0
for i in range(10,100):
  linear(1+i,2+i,3+i,4+i,5+i,6+i,7+i,8+i,9+i,10+i,11+i,12+i,13+i,14+i,15+i,16+i,17+i,18+i,19+i,20+i,21+i,22+i,23+i,24+i,25+i,26+i,27+i)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 13514.423828125
12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 10028.9375
13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 7046.251953125
14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 4566.490234375
15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 2589.640625
16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 1115.73828125
17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 144.63671875
18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 14676.33203125
19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 14711.1796875
20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 248.51953125
21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 1288.9609375
22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 2832.359375
23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 4878.57421875
24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 7427.9140625
25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 10479.77734375
26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 14034.6796875
27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 3092.66015625
28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 7653.1328125
29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 12716.7890625
30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 3283.078125
31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 9352.5625
32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 924.6953125
33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 7999.8359375
34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 577.984375
35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 8658.734375
36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 2242.484375
37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 11329.265625
38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 5918.4609375
39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 1010.8359375
40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 11606.7109375
41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 7704.84375
42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 4305.84375
43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 1410.046875
44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 14016.734375
45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 12126.90625
46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 10739.109375
47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 9854.671875
48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 9472.71875
49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 9593.96875
50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 10217.984375
51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 11345.3125
52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 12975.421875
53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 108.375
54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 2743.765625
55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 5882.171875
56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 9523.921875
57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 13668.1875
58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 3315.734375
59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 8466.546875
60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 14119.84375
61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 5273.96875
62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 11933.28125
63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 4096.34375
64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 11759.9375
65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 4927.90625
66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 13597.84375
67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 7770.0625
68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 2446.96875
69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 12626.65625
70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 8309.09375
71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 4494.90625
72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 1179.90625
73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 13372.4375
74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 11064.65625
75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 9260.59375
76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 7960.34375
77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 7162.21875
78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 6867.53125
79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 7076.875
80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 7785.25
81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 8999.25
82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 10715.78125
83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 12936.90625
84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 658.6875
85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 3883.15625
86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 7612.46875
87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 11841.5625
88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 1576.5
89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 6814.6875
90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 12553.875
91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 3796.75
92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 10540.5
93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 2789.9375
94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 10541.375
95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 3796.25
96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 12551.1875
97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 6811.0625
98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 1576.875
99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 11837.75
100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 7609.625

In [8]:
print(ee)

[13514.423828125, 10028.9375, 7046.251953125, 4566.490234375, 2589.640625, 1115.73828125, 144.63671875, 14676.33203125, 14711.1796875, 248.51953125, 1288.9609375, 2832.359375, 4878.57421875, 7427.9140625, 10479.77734375, 14034.6796875, 3092.66015625, 7653.1328125, 12716.7890625, 3283.078125, 9352.5625, 924.6953125, 7999.8359375, 577.984375, 8658.734375, 2242.484375, 11329.265625, 5918.4609375, 1010.8359375, 11606.7109375, 7704.84375, 4305.84375, 1410.046875, 14016.734375, 12126.90625, 10739.109375, 9854.671875, 9472.71875, 9593.96875, 10217.984375, 11345.3125, 12975.421875, 108.375, 2743.765625, 5882.171875, 9523.921875, 13668.1875, 3315.734375, 8466.546875, 14119.84375, 5273.96875, 11933.28125, 4096.34375, 11759.9375, 4927.90625, 13597.84375, 7770.0625, 2446.96875, 12626.65625, 8309.09375, 4494.90625, 1179.90625, 13372.4375, 11064.65625, 9260.59375, 7960.34375, 7162.21875, 6867.53125, 7076.875, 7785.25, 8999.25, 10715.78125, 12936.90625, 658.6875, 3883.15625, 7612.46875, 11841.5625, 1576.5, 6814.6875, 12553.875, 3796.75, 10540.5, 2789.9375, 10541.375, 3796.25, 12551.1875, 6811.0625, 1576.875, 11837.75, 7609.625]

In [9]:
a=np.array(ee).min()
print(a)
c=np.where(ee==a)

108.375

In [10]:
print(c)

(array([42]),)

In [18]:
ee1=np.arange(0,99)
print(ee1)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98]

In [20]:
import numpy as np
z=[]
zz=[]
def linear1(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15,m16,m17,m18,m19,m20,m21,m22,m23,m24,m25,m26,c):
  sum=0
  yp=[]
  j=0
  for i in range(15001,19735):
    yp.append(m1*x1[i]+m2*x2[i]+m3*x3[i]+m4*x4[i]+m5*x5[i]+m6*x6[i]+m7*x7[i]+m8*x8[i]+m9*x9[i]+m10*x10[i]+m11*x11[i]+m12*x12[i]+m13*x13[i]+m14*x14[i]+m15*x15[i]+m16*x16[i]+m17*x17[i]+m18*x18[i]+m19*x19[i]+m20*x20[i]+m21*x21[i]+m22*x22[i]+m23*x23[i]+m24*x24[i]+m25*x25[i]+m26*x26[i]+c)
    g=(y[i]-yp[j])**2
    j=j+1
    sum=sum+g
  z.append(sum)
  zz.append(np.mod(sum,4735))
  print(m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15,m16,m17,m18,m19,m20,m21,m22,m23,m24,m25,m26,c,np.mod(sum,4735))
linear1(53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79)

53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 3391.7109375